<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="\static\styles.css" />
  </head>
  <body>
    <form id="result" action="/signin" method="post">
      <div class="main">
        <div class="welcome">歡迎光臨，請輸入帳號密碼</div>
        <h3 class="loginsystem">登入系統</h3>
        <div class="input">帳號 <input  name="username" type="text"></div>
        <div class="input">密碼 <input  name="password" type="password"></div>
        <div class="aggreement">同意條款 <input class="checkbox" type="checkbox"></div>
        <button type="submit" class="submit">登入</button>
      </div>
    </form>
      <div class="main">
        <h3 class="loginsystem">計算正整數的平方</h3>
        <div class="input">正整數 <input name="integer" class="integer" type="text"></div>
        <button type="click" class="submitInt">計算</button>
      </div>
      <script src="\static\script.js"></script>

  </body>

</html>