<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="\static\styles.css" />
  </head>
  <body>
    <form id="result" action="/signin" method="post">
    <div class="main">
      <div class="welcome">歡迎光臨，請輸入帳號密碼</div>
      <h3 class="loginsystem">登入系統</h3>
      <div class="input">帳號 <input  name="username" type="text"></div>
      <div class="input">密碼 <input  name="password" type="password"></div>
      <div class="aggreement">同意條款 <input class="checkbox" type="checkbox"></div>
      <button type="submit" class="login">登入</button>
    </form>
      <script src="\static\script.js"></script>
      </div>
    </div>
  </body>

</html>