<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="\static\styles.css" />
  </head>
  <body>
   
    <div class="main">
      <div class="banner">失敗頁面</div>
      <h3 class="loginsystem">{{message}}</h3>
      <a href="/" id="logoutsystem">返回首頁</a>
      </div>
    </div>
    <script src="\static\script.js"></script>
  </body>

</html>