<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="\static\styles.css" />
  </head>
  <body>
    <form id="signup" action="/signup" method="post">
      <div class="main">
        <div class="banner">歡迎光臨，請註冊登入系統</div>
        <h3 class="loginsystem">註冊帳號</h3>
        <div class="input">姓名 <input class="input_signup"  name="iniName" type="text"></div>
        <div class="input">帳號 <input class="input_signup" name="iniUsername" type="text"></div>
        <div class="input">密碼 <input class="input_signup" name="iniPassword" type="password"></div>
        <button type="submit" class="submit_signup">註冊</button>
      </div>
    </form>
    <form id="signin" action="/signin" method="post">
      <div class="main">
        <h3 class="loginsystem">登入系統</h3>
        <div class="input">帳號 <input class="input_signin" name="username" type="text"></div>
        <div class="input">密碼 <input class="input_signin" name="password" type="password"></div>
        <button type="submit" class="submit_signin">登入</button>
      </div>
    </form>
    <script src="\static\script.js"></script>

  </body>

</html>